<main class="text-center position-absolute top-50 start-50 translate-middle">
  <h1 class="fs-2">Welcome Blog</h1>
  <p class="text-center">註冊會員建立屬於自己的部落格</p>
  <%= link_to "註冊", new_registration_path(:user), class:"btn btn-primary" %>
  <%= link_to "登入", new_session_path(:user), class:"btn btn-primary" %>
</main>